In [ ]:
import requests
import pandas as pd
import geopandas as gp
import numpy as np
from pathlib import Path

### Helpers

In [ ]:
outdir = Path('../../../../data/intermediate/')

In [ ]:
def safelyget(alist, idx, default='N/A'):
    """Returns alist[idx] if exists, else default"""
    try:
        return alist[idx]
    except (KeyError, IndexError):
        return default

### Get all ACIS stations that have avg daily temp data, with their data validity rage, ID and lat/lon

Variable 13 = snow water equivalent

In [ ]:
baseurl = 'http://data.rcc-acis.org/StnMeta'
params = {
    'state': "AK",
    'meta': "name,uid,ll,elev,valid_daterange",
    'elems': "avgt,snow"
}

In [ ]:
resp = requests.get(url=baseurl, params=params)

In [ ]:
stationdat = resp.json()['meta']
len(stationdat)

1072

In [ ]:
stationdat

[{'ll': [-148.91667, 63.73333],
  'valid_daterange': [['1949-09-01', '1950-02-28'],
   ['1949-09-01', '1950-02-28']],
  'name': 'MCKINLEY NATIONAL PARK AP',
  'elev': 1720.0,
  'uid': 1},
 {'ll': [-152.29694, 60.81417],
  'valid_daterange': [['1978-01-01', '2010-11-30'],
   ['1978-01-01', '2010-11-30']],
  'name': 'BIG RIVER LAKES',
  'elev': 60.0,
  'uid': 450},
 {'ll': [179.25, 51.38333],
  'valid_daterange': [['1949-01-01', '1965-10-29'],
   ['1949-01-01', '1950-11-20']],
  'name': 'AMCHITKA ISLAND',
  'uid': 20416},
 {'ll': [179.28333, 51.38333],
  'valid_daterange': [['1943-02-01', '1993-08-31'],
   ['1943-11-01', '1993-08-31']],
  'name': 'AMCHITKA',
  'elev': 223.0,
  'uid': 20418},
 {'ll': [-178.03333, 51.75],
  'valid_daterange': [['1948-09-04', '1949-03-16'],
   ['1948-09-04', '1949-03-16']],
  'name': 'ASI TANAGA ISLAND NS',
  'uid': 20425},
 {'ll': [-176.64999, 51.88333],
  'valid_daterange': [['1949-01-01', '1950-06-30'],
   ['1949-01-01', '1950-06-30']],
  'name': 'ADAK DAVIS AFB',
  'uid': 20426},
 {'ll': [-176.64999, 51.88334],
  'valid_daterange': [['1942-10-01', '2023-02-20'],
   ['1942-11-01', '1996-03-31']],
  'name': 'ADAK AP',
  'elev': 17.0,
  'uid': 20427},
 {'ll': [-174.20612, 52.22028],
  'valid_daterange': [['1916-10-01', '2023-02-07'],
   ['1917-05-01', '1949-10-31']],
  'name': 'ATKA AP',
  'elev': 56.0,
  'uid': 20431},
 {'ll': [-174.2, 52.21667],
  'valid_daterange': [['1949-01-01', '1949-11-18'],
   ['1949-01-01', '1949-11-18']],
  'name': 'ATKA ISLAND',
  'uid': 20432},
 {'ll': [174.10001, 52.71667],
  'valid_daterange': [['1943-07-01', '1995-03-31'],
   ['1943-11-01', '1995-03-31']],
  'name': 'SHEMYA USAF BASE',
  'elev': 122.0,
  'uid': 20437},
 {'ll': [173.16667, 52.8],
  'valid_daterange': [['1947-01-01', '1958-06-23'],
   ['1947-01-01', '1958-06-23']],
  'name': 'ATTU NS',
  'uid': 20439},
 {'ll': [173.18333, 52.83333],
  'valid_daterange': [['1917-07-01', '1993-08-31'],
   ['1917-11-14', '1993-08-31']],
  'name': 'ATTU',
  'elev': 70.0,
  'uid': 20441},
 {'ll': [-168.78333, 52.91667],
  'valid_daterange': [[], ['1959-06-26', '1965-10-31']],
  'name': 'NIKOLSKI',
  'uid': 20444},
 {'ll': [-167.35001, 53.43333],
  'valid_daterange': [['1925-01-01', '1942-07-28'],
   ['1925-01-01', '1942-07-31']],
  'name': 'CHERNOFSKI HARBOR',
  'elev': 30.0,
  'uid': 20448},
 {'ll': [-166.85001, 53.96667],
  'valid_daterange': [[], ['1959-06-26', '1965-05-31']],
  'name': 'DRIFTWOOD BAY',
  'uid': 20453},
 {'ll': [-164.75, 54.41667],
  'valid_daterange': [['1936-08-01', '1942-02-20'],
   ['1936-08-01', '1942-02-20']],
  'name': 'SCOTCH CAP LIGHT STATION',
  'uid': 20456},
 {'ll': [-164.93333, 54.6],
  'valid_daterange': [['1952-03-24', '1980-12-10'],
   ['1952-03-24', '1980-12-10']],
  'name': 'CAPE SARICHEF LIGHT STN',
  'elev': 177.0,
  'uid': 20458},
 {'ll': [-130.93333, 54.8],
  'valid_daterange': [['1929-10-10', '1970-01-26'],
   ['1929-10-01', '1970-01-31']],
  'name': 'TREE POINT LT STN',
  'elev': 36.0,
  'uid': 20459},
 {'ll': [-131.5787, 55.0389],
  'valid_daterange': [['1941-01-16', '2019-10-01'],
   ['1941-01-01', '2018-04-30']],
  'name': 'ANNETTE AIRPORT',
  'elev': 109.0,
  'uid': 20462},
 {'ll': [-133.06667, 55.06667],
  'valid_daterange': [['1932-04-04', '1946-06-30'],
   ['1932-09-01', '1946-05-31']],
  'name': 'VIEW COVE',
  'elev': 10.0,
  'uid': 20463},
 {'ll': [-132.81667, 55.2],
  'valid_daterange': [['1921-03-01', '1932-02-29'],
   ['1921-03-01', '1932-02-29']],
  'name': 'HYDABURG',
  'elev': 26.0,
  'uid': 20466},
 {'ll': [-162.71667, 55.2],
  'valid_daterange': [['1942-04-01', '1954-05-06'],
   ['1948-10-01', '1954-06-30']],
  'name': 'COLD BAY THORNBROUGH AFB',
  'uid': 20467},
 {'ll': [-162.7323, 55.22068],
  'valid_daterange': [['1950-03-02', '2023-02-20'],
   ['1950-03-02', '2020-04-30']],
  'name': 'COLD BAY AIRPORT',
  'elev': 72.0,
  'uid': 20468},
 {'ll': [-130.78334, 55.31667],
  'valid_daterange': [['1949-09-01', '1950-09-30'],
   ['1949-09-01', '1950-09-30']],
  'name': 'SMEATON BAY',
  'elev': 20.0,
  'uid': 20471},
 {'ll': [-160.52083, 55.31944],
  'valid_daterange': [['1941-09-26', '2023-02-20'],
   ['1941-10-01', '1994-06-30']],
  'name': 'SAND POINT AP',
  'elev': 21.0,
  'uid': 20472},
 {'ll': [-131.69691, 55.3574],
  'valid_daterange': [['1948-05-07', '2017-12-02'],
   ['1948-05-07', '2010-12-31']],
  'name': 'BEAVER FALLS',
  'elev': 35.0,
  'uid': 20473},
 {'ll': [-131.7, 55.35],
  'valid_daterange': [['1940-02-02', '2017-12-19'],
   ['1940-02-01', '1941-08-31']],
  'name': 'KETCHIKAN CARLANNA CREEK',
  'elev': 330.0,
  'uid': 20475},
 {'ll': [-131.88333, 55.45],
  'valid_daterange': [['1940-11-01', '1969-06-30'],
   ['1940-11-01', '1969-06-30']],
  'name': 'GUARD ISLAND LIGHT STN',
  'elev': 20.0,
  'uid': 20477},
 {'ll': [-132.62219, 55.4909],
  'valid_daterange': [['1950-05-09', '2017-08-31'],
   ['1949-05-06', '2017-10-11']],
  'name': 'HOLLIS',
  'elev': 30.0,
  'uid': 20478},
 {'ll': [-133.14079, 55.4772],
  'valid_daterange': [['1936-10-04', '2023-02-21'],
   ['1936-12-05', '2023-02-21']],
  'name': 'CRAIG',
  'elev': 43.0,
  'uid': 20479},
 {'ll': [-132.39999, 55.53333],
  'valid_daterange': [[], ['1919-01-18', '1942-02-28']],
  'name': 'KASAAN',
  'elev': 30.0,
  'uid': 20480},
 {'ll': [-131.41667, 55.6],
  'valid_daterange': [['1904-03-01', '1927-05-31'],
   ['1904-03-01', '1927-05-31']],
  'name': 'FORTMANN HATCHERY',
  'elev': 131.0,
  'uid': 20482},
 {'ll': [-131.63333, 55.7],
  'valid_daterange': [['1966-05-01', '1967-06-21'],
   ['1966-05-01', '1967-06-30']],
  'name': 'TRAITORS COVE',
  'elev': 20.0,
  'uid': 20483},
 {'ll': [-131.58333, 55.91667],
  'valid_daterange': [['1929-10-18', '1952-11-30'],
   ['1929-11-01', '1952-11-30']],
  'name': 'BELL ISLAND',
  'uid': 20486},
 {'ll': [-133.8, 55.96667],
  'valid_daterange': [['1975-01-01', '1978-07-26'],
   ['1975-01-01', '1978-07-31']],
  'name': 'CAPE POLE',
  'uid': 20488},
 {'ll': [-132.83333, 56.0],
  'valid_daterange': [['1970-10-02', '2018-03-31'],
   ['1970-10-02', '2018-03-31']],
  'name': 'COFFMAN COVE',
  'elev': 10.0,
  'uid': 20489},
 {'ll': [-134.13516, 56.00202],
  'valid_daterange': [['1940-11-11', '1974-08-31'],
   ['1940-11-01', '1974-08-31']],
  'name': 'CAPE DECISION',
  'uid': 20490},
 {'ll': [-160.51666, 56.0],
  'valid_daterange': [[], ['1959-06-26', '1964-12-31']],
  'name': 'PORT MOLLER',
  'uid': 20491},
 {'ll': [-131.10001, 56.06667],
  'valid_daterange': [['1953-04-01', '1956-08-31'],
   ['1953-04-01', '1956-03-31']],
  'name': 'UNUK RIVER',
  'uid': 20492},
 {'ll': [-132.76666, 56.05],
  'valid_daterange': [['1942-06-07', '1968-02-29'],
   ['1942-11-01', '1967-10-31']],
  'name': 'LINCOLN ROCK LIGHT STN',
  'elev': 26.0,
  'uid': 20493},
 {'ll': [-132.45, 56.16667],
  'valid_daterange': [['1908-04-01', '1932-04-22'],
   ['1908-04-01', '1932-04-04']],
  'name': 'CALDER',
  'elev': 20.0,
  'uid': 20494},
 {'ll': [-134.6447, 56.2472],
  'valid_daterange': [['1949-09-01', '2017-09-05'],
   ['1949-09-01', '2017-09-05']],
  'name': 'PORT ALEXANDER',
  'elev': 12.0,
  'uid': 20495},
 {'ll': [-158.39999, 56.3],
  'valid_daterange': [['1927-04-01', '1978-05-31'],
   ['1927-04-01', '1978-05-31']],
  'name': 'CHIGNIK',
  'elev': 30.0,
  'uid': 20496},
 {'ll': [-134.6497, 56.383],
  'valid_daterange': [['1936-07-11', '2023-02-21'],
   ['1936-10-01', '2023-02-21']],
  'name': 'LITTLE PORT WALTER',
  'elev': 14.0,
  'uid': 20498},
 {'ll': [-133.10001, 56.46667],
  'valid_daterange': [['1973-08-10', '1978-04-06'],
   ['1973-08-10', '1978-01-31']],
  'name': 'LEVEL ISLAND',
  'elev': 30.0,
  'uid': 20499},
 {'ll': [-154.13333, 56.55],
  'valid_daterange': [['1960-11-19', '1981-01-31'],
   ['1960-11-18', '1981-01-31']],
  'name': 'SITKINAK',
  'elev': 53.0,
  'uid': 20500},
 {'ll': [-134.05, 56.55],
  'valid_daterange': [['1932-11-01', '1942-02-17'],
   ['1932-11-01', '1942-01-31']],
  'name': 'SECLUSION HARBOR',
  'elev': 20.0,
  'uid': 20502},
 {'ll': [-169.53333, 56.6],
  'valid_daterange': [['1954-12-13', '1960-03-10'],
   ['1954-12-13', '1960-03-10']],
  'name': 'ST GEORGE ISLAND',
  'elev': 102.0,
  'uid': 20503},
 {'ll': [-135.55, 56.85],
  'valid_daterange': [['1941-03-01', '1979-11-30'],
   ['1941-03-01', '1979-11-30']],
  'name': 'BIORKA',
  'elev': 49.0,
  'uid': 20504},
 {'ll': [-154.25, 56.88333],
  'valid_daterange': [['1964-06-01', '1964-07-31'],
   ['1964-06-01', '1964-07-31']],
  'name': 'ALITAK BAY',
  'elev': 10.0,
  'uid': 20505},
 {'ll': [-154.25, 56.88333],
  'valid_daterange': [['1954-10-07', '1963-12-31'],
   ['1954-05-20', '1963-10-31']],
  'name': 'LAZY BAY',
  'elev': 10.0,
  'uid': 20506},
 {'ll': [-158.63167, 56.95917],
  'valid_daterange': [['1942-09-01', '1988-10-31'],
   ['1942-10-01', '1988-10-31']],
  'name': 'PORT HEIDEN AP',
  'elev': 88.0,
  'uid': 20510},
 {'ll': [-134.83333, 57.08333],
  'valid_daterange': [['1936-11-05', '1966-03-25'],
   ['1936-11-01', '1965-03-31']],
  'name': 'BARANOF',
  'uid': 20512},
 {'ll': [-135.36703, 57.04746],
  'valid_daterange': [['1944-09-01', '2023-02-20'],
   ['1944-09-01', '1998-05-31']],
  'name': 'SITKA AIRPORT',
  'elev': 20.0,
  'uid': 20513},
 {'ll': [-135.33333, 57.05],
  'valid_daterange': [['1899-04-11', '1989-12-18'],
   ['1899-04-08', '1989-12-17']],
  'name': 'SITKA MAGNETIC OBSY',
  'elev': 67.0,
  'uid': 20514},
 {'ll': [-154.23334, 57.16667],
  'valid_daterange': [['1951-08-26', '1952-02-29'],
   ['1951-08-11', '1952-02-29']],
  'name': 'OLGA',
  'uid': 20518},
 {'ll': [-170.22272, 57.15505],
  'valid_daterange': [['1892-09-01', '2023-02-20'],
   ['1918-07-01', '2020-04-30']],
  'name': 'SAINT PAUL ISLAND AIRPORT',
  'elev': 26.0,
  'uid': 20519},
 {'ll': [-153.3, 57.2],
  'valid_daterange': [['1968-04-01', '1986-02-28'],
   ['1968-04-01', '1986-01-31']],
  'name': 'OLD HARBOR',
  'elev': 50.0,
  'uid': 20521},
 {'ll': [-133.61667, 57.26667],
  'valid_daterange': [['1941-04-12', '1984-07-31'],
   ['1941-05-01', '1984-07-31']],
  'name': 'FIVE FINGER LIGHT STN',
  'elev': 30.0,
  'uid': 20522},
 {'ll': [-152.91667, 57.35],
  'valid_daterange': [['1951-09-01', '1964-02-29'],
   ['1951-09-01', '1963-12-31']],
  'name': 'SHEARWATER BAY',
  'elev': 10.0,
  'uid': 20523},
 {'ll': [-154.03333, 57.35],
  'valid_daterange': [['1937-06-16', '1969-08-31'],
   ['1937-07-01', '1969-08-31']],
  'name': 'KARLUK LAKE',
  'elev': 381.0,
  'uid': 20524},
 {'ll': [-156.41667, 57.36667],
  'valid_daterange': [['1963-02-13', '1963-10-18'],
   ['1963-03-01', '1963-09-30']],
  'name': 'WIDE BAY',
  'elev': 20.0,
  'uid': 20525},
 {'ll': [-154.13333, 57.45],
  'valid_daterange': [['1954-05-20', '1972-08-31'],
   ['1954-05-19', '1972-08-31']],
  'name': 'KARLUK RIVER',
  'elev': 361.0,
  'uid': 20528},
 {'ll': [-134.5864, 57.49889],
  'valid_daterange': [['1932-04-01', '2011-02-28'],
   ['1932-04-01', '2011-02-28']],
  'name': 'ANGOON',
  'elev': 28.0,
  'uid': 20529},
 {'ll': [-153.96667, 57.53333],
  'valid_daterange': [['1939-09-20', '1993-11-30'],
   ['1939-10-01', '1993-11-30']],
  'name': 'LARSEN BAY',
  'elev': 18.0,
  'uid': 20530},
 {'ll': [-157.56667, 57.61667],
  'valid_daterange': [['1939-11-01', '1945-07-31'],
   ['1939-11-01', '1945-05-31']],
  'name': 'PILOT POINT',
  'elev': 49.0,
  'uid': 20531},
 {'ll': [-133.35001, 57.6],
  'valid_daterange': [['1952-07-01', '1956-04-30'],
   ['1952-07-01', '1956-04-30']],
  'name': 'WINDHAM',
  'elev': 10.0,
  'uid': 20533},
 {'ll': [-136.14999, 57.6],
  'valid_daterange': [['1936-05-01', '1950-10-31'],
   ['1936-05-12', '1950-10-31']],
  'name': 'RADIOVILLE',
  'elev': 20.0,
  'uid': 20534},
 {'ll': [-136.08333, 57.66667],
  'valid_daterange': [['1951-01-06', '1957-10-31'],
   ['1951-01-06', '1957-10-31']],
  'name': 'CHICHAGOF',
  'elev': 10.0,
  'uid': 20535},
 {'ll': [-153.31667, 57.71667],
  'valid_daterange': [['1951-08-05', '1965-03-31'],
   ['1951-08-05', '1965-03-31']],
  'name': 'UGANIK BAY',
  'elev': 49.0,
  'uid': 20537},
 {'ll': [-135.23334, 57.78333],
  'valid_daterange': [['1969-07-01', '1983-01-12'],
   ['1969-07-01', '1983-01-11']],
  'name': 'TENAKEE SPRINGS',
  'elev': 20.0,
  'uid': 20538},
 {'ll': [-135.78333, 57.78333],
  'valid_daterange': [['1941-09-01', '1951-02-28'],
   ['1941-09-01', '1951-02-28']],
  'name': 'TENAKEE',
  'elev': 20.0,
  'uid': 20539},
 {'ll': [-152.51666, 57.75],
  'valid_daterange': [['1913-09-01', '1949-12-31'],
   ['1913-10-17', '1949-12-31']],
  'name': 'KODIAK',
  'uid': 20540},
 {'ll': [-152.39999, 57.8],
  'valid_daterange': [['1900-01-05', '1907-12-31'],
   ['1900-01-01', '1907-12-31']],
  'name': 'WOODY ISLAND',
  'elev': 102.0,
  'uid': 20541},
 {'ll': [-136.2213, 57.9577],
  'valid_daterange': [['1967-02-01', '2023-02-21'],
   ['1967-02-01', '2023-02-21']],
  'name': 'PELICAN',
  'elev': 12.0,
  'uid': 20543},
 {'ll': [-152.76666, 57.96667],
  'valid_daterange': [['1923-09-01', '1939-02-16'],
   ['1923-09-01', '1939-02-28']],
  'name': 'WHALE ISLAND',
  'uid': 20544},
 {'ll': [-133.73849, 58.1421],
  'valid_daterange': [['1964-09-17', '2023-02-21'],
   ['1964-09-08', '2023-02-21']],
  'name': 'SNETTISHAM POWER PLANT',
  'elev': 29.0,
  'uid': 20545},
 {'ll': [-134.23334, 58.13333],
  'valid_daterange': [['1915-09-01', '1924-05-12'],
   ['1915-01-01', '1930-06-30']],
  'name': 'SPEEL RIVER',
  'elev': 20.0,
  'uid': 20546},
 {'ll': [-135.4277, 58.1071],
  'valid_daterange': [['1941-05-09', '2023-02-21'],
   ['1941-06-01', '2023-02-21']],
  'name': 'HOONAH',
  'elev': 130.0,
  'uid': 20547},
 {'ll': [-152.55, 58.13333],
  'valid_daterange': [['1978-10-02', '1979-07-31'],
   ['1978-09-01', '1979-07-31']],
  'name': 'DANGER BAY',
  'elev': 49.0,
  'uid': 20548},
 {'ll': [-135.25, 58.16667],
  'valid_daterange': [['1982-03-17', '1984-06-30'],
   ['1982-04-01', '1984-06-30']],
  'name': 'SISTERS ISLAND',
  'elev': 36.0,
  'uid': 20549},
 {'ll': [-152.37219, 58.1913],
  'valid_daterange': [['1954-11-01', '2023-01-31'],
   ['1954-11-01', '2023-01-31']],
  'name': 'KITOI BAY',
  'elev': 60.0,
  'uid': 20551},
 {'ll': [-136.14999, 58.2],
  'valid_daterange': [['1940-08-21', '1952-07-31'],
   ['1940-10-01', '1952-07-31']],
  'name': 'GULL COVE',
  'uid': 20552},
 {'ll': [-136.63333, 58.2],
  'valid_daterange': [['1936-11-02', '1974-08-31'],
   ['1936-11-01', '1974-08-31']],
  'name': 'CAPE SPENCER',
  'uid': 20553},
 {'ll': [-136.34351, 58.1916],
  'valid_daterange': [['1975-01-01', '2022-12-15'],
   ['1975-01-01', '2022-12-15']],
  'name': 'ELFIN COVE',
  'elev': 20.0,
  'uid': 20554},
 {'ll': [-157.38333, 58.21667],
  'valid_daterange': [['1971-09-09', '1973-04-30'],
   ['1971-09-01', '1973-04-30']],
  'name': 'EGEGIK',
  'elev': 49.0,
  'uid': 20555},
 {'ll': [-134.1003, 58.3183],
  'valid_daterange': [['1917-01-01', '2023-02-21'],
   ['1917-01-01', '2023-02-21']],
  'name': 'ANNEX CREEK',
  'elev': 92.0,
  'uid': 20558},
 {'ll': [-134.55606, 58.354],
  'valid_daterange': [['1936-11-01', '2023-02-20'],
   ['1936-11-01', '2023-02-20']],
  'name': 'JUNEAU AIRPORT',
  'elev': 19.0,
  'uid': 20559},
 {'ll': [-134.645, 58.3814],
  'valid_daterange': [['1963-02-01', '2023-02-21'],
   ['1963-02-01', '2023-02-21']],
  'name': 'AUKE BAY',
  'elev': 44.0,
  'uid': 20560},
 {'ll': [-134.53333, 58.4],
  'valid_daterange': [['1939-07-01', '1944-04-08'],
   ['1939-07-01', '1944-04-03']],
  'name': 'MENDENHALL',
  'elev': 89.0,
  'uid': 20561},
 {'ll': [-134.53333, 58.41667],
  'valid_daterange': [['1965-07-15', '1980-06-27'],
   ['1965-07-08', '1980-06-30']],
  'name': 'JUNEAU 9 NW',
  'elev': 121.0,
  'uid': 20562},
 {'ll': [-134.95, 58.41667],
  'valid_daterange': [['1945-02-01', '1973-07-15'],
   ['1945-02-01', '1973-07-15']],
  'name': 'POINT RETREAT',
  'uid': 20563},
 {'ll': [-135.8692, 58.4561],
  'valid_daterange': [['1966-01-01', '2023-01-31'],
   ['1966-01-01', '2023-01-31']],
  'name': 'GLACIER BAY',
  'elev': 45.0,
  'uid': 20565},
 {'ll': [-133.67889, 58.55],
  'valid_daterange': [['1935-10-01', '2017-12-19'],
   ['1935-10-01', '2017-12-19']],
  'name': 'CANYON ISLAND',
  'elev': 20.0,
  'uid': 20566},
 {'ll': [-134.81667, 58.55],
  'valid_daterange': [['1975-02-01', '1976-08-31'],
   ['1975-02-01', '1976-08-31']],
  'name': 'CAMP RUNAMUK',
  'elev': 49.0,
  'uid': 20569},
 {'ll': [-155.78333, 58.55],
  'valid_daterange': [['1967-07-03', '1990-08-31'],
   ['1967-07-01', '1990-08-31']],
  'name': 'BROOKS RIVER',
  'elev': 43.0,
  'uid': 20571},
 {'ll': [-155.81667, 58.55],
  'valid_daterange': [['1951-05-19', '1972-09-30'],
   ['1951-05-19', '1972-09-30']],
  'name': 'BROOKS LAKE',
  'elev': 39.0,
  'uid': 20572},
 {'ll': [-162.06667, 58.65],
  'valid_daterange': [['1953-09-01', '1970-12-31'],
   ['1953-08-01', '1970-12-31']],
  'name': 'CAPE NEWENHAM AFS',
  'elev': 541.0,
  'uid': 20574},
 {'ll': [-135.21667, 58.96667],
  'valid_daterange': [['1941-03-26', '1973-07-16'],
   ['1941-05-01', '1973-07-16']],
  'name': 'ELDRED ROCK',
  'elev': 52.0,
  'uid': 20577},
 {'ll': [-136.10001, 58.95],
  'valid_daterange': [['1970-06-01', '1972-08-27'],
   ['1970-06-01', '1972-08-31']],
  'name': 'GOOSE COVE',
  'elev': 69.0,
  'uid': 20578},
 {'ll': [-161.78333, 59.01667],
  'valid_daterange': [['1939-10-08', '1964-06-30'],
   ['1939-10-08', '1964-06-30']],
  'name': 'PLATINUM',
  'elev': 20.0,
  'uid': 20580},
 {'ll': [-135.45, 59.26667],
  'valid_daterange': [['1957-09-01', '1988-07-16'],
   ['1957-09-01', '1988-07-31']],
  'name': 'HAINES TERMINAL',
  'elev': 175.0,
  'uid': 20584},
 {'ll': [-158.58333, 59.28333],
  'valid_daterange': [['1950-05-27', '1951-08-31'],
   ['1950-06-01', '1951-08-31']],
  'name': 'MOSQUITO POINT',
  'elev': 59.0,
  'uid': 20585},
 {'ll': [-158.56667, 59.28333],
  'valid_daterange': [['1958-09-25', '1973-02-28'],
   ['1958-09-02', '1973-02-28']],
  'name': 'ALEKNAGIK',
  'elev': 69.0,
  'uid': 20586},
 {'ll': [-136.26666, 59.36667],
  'valid_daterange': [['1927-06-01', '1937-08-31'],
   ['1927-06-01', '1937-08-31']],
  'name': 'PORCUPINE CREEK',
  'elev': 1601.0,
  'uid': 20587},
 {'ll': [-135.89999, 59.4],
  'valid_daterange': [['1946-11-01', '1958-03-26'],
   ['1946-11-01', '1958-03-25']],
  'name': 'HAINES HIGHWAY MILE',
  'uid': 20589},
 {'ll': [-136.28333, 59.43333],
  'valid_daterange': [['1959-09-01', '1982-04-30'],
   ['1959-09-01', '1982-04-30']],
  'name': 'LINGER LONGER',
  'elev': 700.0,
  'uid': 20591},
 {'ll': [-151.4136, 59.43556],
  'valid_daterange': [['1979-08-02', '2003-12-26'],
   ['1979-08-01', '2003-12-31']],
  'name': 'TUTKA BAY LAGOON',
  'elev': 63.0,
  'uid': 20592},
 {'ll': [-151.7, 59.43333],
  'valid_daterange': [['1967-06-01', '1975-06-30'],
   ['1967-06-01', '1975-06-30']],
  'name': 'SELDOVIA DOCK',
  'elev': 30.0,
  'uid': 20593},
 {'ll': [-154.86667, 59.41667],
  'valid_daterange': [['1955-02-15', '1959-07-31'],
   ['1955-02-15', '1959-07-31']],
  'name': 'KOKHANOK BAY',
  'elev': 121.0,
  'uid': 20595},
 {'ll': [-151.7, 59.43333],
  'valid_daterange': [['1916-12-01', '1964-06-28'],
   ['1918-01-01', '1964-06-30']],
  'name': 'SELDOVIA',
  'elev': 20.0,
  'uid': 20596},
 {'ll': [-151.55, 59.46667],
  'valid_daterange': [['1967-05-03', '1978-01-27'],
   ['1967-05-01', '1978-01-31']],
  'name': 'KASITSNA BAY',
  'elev': 10.0,
  'uid': 20600},
 {'ll': [-158.89999, 59.45],
  'valid_daterange': [['1950-12-08', '1954-09-30'],
   ['1950-03-09', '1954-09-30']],
  'name': 'LAKE ALEKNAGIK',
  'elev': 59.0,
  'uid': 20601},
 {'ll': [-139.67104, 59.51211],
  'valid_daterange': [['1917-04-01', '2023-02-20'],
   ['1917-04-01', '2019-08-28']],
  'name': 'YAKUTAT AIRPORT',
  'elev': 41.0,
  'uid': 20602},
 {'ll': [-151.16667, 59.6],
  'valid_daterange': [['1975-09-01', '1998-01-31'],
   ['1975-09-01', '1998-01-31']],
  'name': 'HALIBUT COVE',
  'elev': 30.0,
  'uid': 20605},
 {'ll': [-154.49834, 59.555],
  'valid_daterange': [['1959-08-01', '2006-07-31'],
   ['1959-08-01', '2006-07-31']],
  'name': 'INTRICATE BAY',
  'elev': 120.0,
  'uid': 20606},
 {'ll': [-159.03333, 59.56667],
  'valid_daterange': [['1952-01-09', '1965-05-31'],
   ['1952-01-13', '1965-05-31']],

In [ ]:
records = [   
    dict(
        name=stat['name'],
        acisID=stat['uid'],
        longitude=safelyget(safelyget(stat, 'll', []), 0, np.nan),
        latitude=safelyget(safelyget(stat, 'll', []), 1, np.nan),
        elev_ft=safelyget(stat, 'elev', np.nan), 
        valid_avgT_start=safelyget(stat['valid_daterange'][0], 0, ''),
        valid_avgT_end=safelyget(stat['valid_daterange'][0], 1, ''),
        valid_snowdepth_start=safelyget(stat['valid_daterange'][1], 0, ''),
        valid_snowdepth_end=safelyget(stat['valid_daterange'][1], 1, ''),
    )
    for stat in stationdat
]

In [ ]:
stationDF = pd.DataFrame.from_records(records)
stationDF

,name,acisID,longitude,latitude,elev_ft,valid_avgT_start,valid_avgT_end,valid_snowdepth_start,valid_snowdepth_end
0,MCKINLEY NATIONAL PARK AP,1,-148.91667,63.73333,1720.0,1949-09-01,1950-02-28,1949-09-01,1950-02-28
1,BIG RIVER LAKES,450,-152.29694,60.81417,60.0,1978-01-01,2010-11-30,1978-01-01,2010-11-30
2,AMCHITKA ISLAND,20416,179.25000,51.38333,NaN,1949-01-01,1965-10-29,1949-01-01,1950-11-20
3,AMCHITKA,20418,179.28333,51.38333,223.0,1943-02-01,1993-08-31,1943-11-01,1993-08-31
4,ASI TANAGA ISLAND NS,20425,-178.03333,51.75000,NaN,1948-09-04,1949-03-16,1948-09-04,1949-03-16
...,...,...,...,...,...,...,...,...,...
1067,FAIRBANKS 18.4 WNW,100836,-148.21570,64.95090,1379.0,,,2021-11-05,2023-02-18
1068,MOSQUITO LAKE 5.7 SSE,100978,-136.02306,59.45450,214.0,,,2022-01-19,2023-02-18
1069,HAINES 0.3 N,101176,-135.44055,59.24437,344.0,,,2020-04-17,2022-11-10
1070,HAINES 0.5 NNE,101585,-135.43327,59.24731,371.0,,,2021-01-27,2023-02-03
1071,THORNE BAY 0.6 S,101689,-132.51801,55.68000,75.0,,,2021-04-15,2023-01-29

Let's drop stations with no valid temperature data as well as too short / old temp series

In [ ]:
stationDF = stationDF[~(stationDF.valid_avgT_start=='')] 
stationDF = stationDF[stationDF.valid_avgT_end > '1990']
stationDF = stationDF.sort_values(by='name')
stationDF = stationDF.reset_index(drop=True)
stationDF

,name,acisID,longitude,latitude,elev_ft,valid_avgT_start,valid_avgT_end,valid_snowdepth_start,valid_snowdepth_end
0,ADAK AP,20427,-176.64999,51.88334,17.0,1942-10-01,2023-02-20,1942-11-01,1996-03-31
1,AKUTAN,21171,-165.76666,54.13333,NaN,1986-01-01,1990-02-22,1986-01-01,1990-02-22
2,ALASKA PACIFIC UNIVERSITY,21216,-149.80556,61.18889,220.0,1993-07-01,2004-10-31,1993-07-01,2004-10-31
3,ALCAN HWY MI-1244 ALASKA,65647,-141.46671,62.81670,1800.0,1990-06-18,2022-11-28,,
4,ALEKNAGIK 1 NNE,93859,-158.61450,59.28400,80.0,2019-10-11,2023-02-21,,
...,...,...,...,...,...,...,...,...,...
604,YAKUTAT AIRPORT,20602,-139.67104,59.51211,41.0,1917-04-01,2023-02-20,1917-04-01,2019-08-28
605,YAKUTAT POWER,94427,-139.85556,59.72861,71.0,2019-12-01,2020-03-01,2019-12-01,2020-02-12
606,YANTARNI BAY ALASKA,83027,-157.03329,56.91440,96.0,2010-08-26,2019-12-05,,
607,Yakutat Area,32886,NaN,NaN,NaN,1917-05-01,2023-02-20,1917-08-01,2019-08-28
608,ZAREMBO ALASKA,65829,-132.84860,56.30000,1100.0,1989-09-25,2023-02-19,,

In [ ]:
stationDF.to_csv(outdir / "ACIS_stations_AK_cleaned.csv")

In [ ]:
selectedstationsDF = stationDF[
    (stationDF.valid_avgT_start < '1980-01-01') & (stationDF.valid_avgT_end > '2023-02-01')]
selectedstationsDF

,name,acisID,longitude,latitude,elev_ft,valid_avgT_start,valid_avgT_end,valid_snowdepth_start,valid_snowdepth_end
0,ADAK AP,20427,-176.64999,51.88334,17.0,1942-10-01,2023-02-20,1942-11-01,1996-03-31
8,ALYESKA,20684,-149.11079,60.95830,272.0,1963-11-07,2023-02-21,1963-11-07,2023-02-21
14,ANAKTUVUK AUTO,21055,-151.76666,68.16667,2100.0,1953-07-11,2023-02-20,1953-07-09,1973-05-31
26,ANCHORAGE MERRILL FIELD,20717,-149.85724,61.21630,126.0,1914-11-01,2023-02-20,1916-02-16,2005-02-20
29,ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT,20705,-150.02771,61.16916,125.0,1952-04-01,2023-02-20,1953-02-01,2023-02-20
...,...,...,...,...,...,...,...,...,...
591,WHITE MOUNTAIN,20942,-163.39999,64.68333,20.0,1922-01-05,2023-02-20,1922-01-14,1990-05-31
599,WISEMAN,21043,-150.10957,67.40822,1181.0,1919-11-01,2023-02-21,1918-11-01,2023-02-20
602,WRANGELL AP,29707,-132.38741,56.47320,56.0,1917-11-02,2023-02-10,1917-12-05,2013-02-19
604,YAKUTAT AIRPORT,20602,-139.67104,59.51211,41.0,1917-04-01,2023-02-20,1917-04-01,2019-08-28
607,Yakutat Area,32886,NaN,NaN,NaN,1917-05-01,2023-02-20,1917-08-01,2019-08-28

In [ ]:
selectedstationsDF.to_csv(outdir / "ACIS_stations_AK_recentTemps.csv")

In [ ]:
stationsGDF = gp.GeoDataFrame(
    stationDF, geometry=gp.points_from_xy(stationDF.longitude, stationDF.latitude))
stationsGDF = stationsGDF.set_crs('epsg:4326')
stationsGDF

/Users/chris/miniconda3/envs/python38_geo/lib/python3.8/site-packages/geopandas/array.py:275: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  return GeometryArray(vectorized.points_from_xy(x, y, z), crs=crs)

,name,acisID,longitude,latitude,elev_ft,valid_avgT_start,valid_avgT_end,valid_snowdepth_start,valid_snowdepth_end,geometry
0,ADAK AP,20427,-176.64999,51.88334,17.0,1942-10-01,2023-02-20,1942-11-01,1996-03-31,POINT (-176.64999 51.88334)
1,AKUTAN,21171,-165.76666,54.13333,NaN,1986-01-01,1990-02-22,1986-01-01,1990-02-22,POINT (-165.76666 54.13333)
2,ALASKA PACIFIC UNIVERSITY,21216,-149.80556,61.18889,220.0,1993-07-01,2004-10-31,1993-07-01,2004-10-31,POINT (-149.80556 61.18889)
3,ALCAN HWY MI-1244 ALASKA,65647,-141.46671,62.81670,1800.0,1990-06-18,2022-11-28,,,POINT (-141.46671 62.81670)
4,ALEKNAGIK 1 NNE,93859,-158.61450,59.28400,80.0,2019-10-11,2023-02-21,,,POINT (-158.61450 59.28400)
...,...,...,...,...,...,...,...,...,...,...
604,YAKUTAT AIRPORT,20602,-139.67104,59.51211,41.0,1917-04-01,2023-02-20,1917-04-01,2019-08-28,POINT (-139.67104 59.51211)
605,YAKUTAT POWER,94427,-139.85556,59.72861,71.0,2019-12-01,2020-03-01,2019-12-01,2020-02-12,POINT (-139.85556 59.72861)
606,YANTARNI BAY ALASKA,83027,-157.03329,56.91440,96.0,2010-08-26,2019-12-05,,,POINT (-157.03329 56.91440)
607,Yakutat Area,32886,NaN,NaN,NaN,1917-05-01,2023-02-20,1917-08-01,2019-08-28,POINT EMPTY
608,ZAREMBO ALASKA,65829,-132.84860,56.30000,1100.0,1989-09-25,2023-02-19,,,POINT (-132.84860 56.30000)

In [ ]:
stationsGDF

,name,acisID,longitude,latitude,elev_ft,valid_avgT_start,valid_avgT_end,valid_snowdepth_start,valid_snowdepth_end,geometry
0,ADAK AP,20427,-176.64999,51.88334,17.0,1942-10-01,2023-02-20,1942-11-01,1996-03-31,POINT (-176.64999 51.88334)
1,AKUTAN,21171,-165.76666,54.13333,NaN,1986-01-01,1990-02-22,1986-01-01,1990-02-22,POINT (-165.76666 54.13333)
2,ALASKA PACIFIC UNIVERSITY,21216,-149.80556,61.18889,220.0,1993-07-01,2004-10-31,1993-07-01,2004-10-31,POINT (-149.80556 61.18889)
3,ALCAN HWY MI-1244 ALASKA,65647,-141.46671,62.81670,1800.0,1990-06-18,2022-11-28,,,POINT (-141.46671 62.81670)
4,ALEKNAGIK 1 NNE,93859,-158.61450,59.28400,80.0,2019-10-11,2023-02-21,,,POINT (-158.61450 59.28400)
...,...,...,...,...,...,...,...,...,...,...
604,YAKUTAT AIRPORT,20602,-139.67104,59.51211,41.0,1917-04-01,2023-02-20,1917-04-01,2019-08-28,POINT (-139.67104 59.51211)
605,YAKUTAT POWER,94427,-139.85556,59.72861,71.0,2019-12-01,2020-03-01,2019-12-01,2020-02-12,POINT (-139.85556 59.72861)
606,YANTARNI BAY ALASKA,83027,-157.03329,56.91440,96.0,2010-08-26,2019-12-05,,,POINT (-157.03329 56.91440)
607,Yakutat Area,32886,NaN,NaN,NaN,1917-05-01,2023-02-20,1917-08-01,2019-08-28,POINT EMPTY
608,ZAREMBO ALASKA,65829,-132.84860,56.30000,1100.0,1989-09-25,2023-02-19,,,POINT (-132.84860 56.30000)

In [ ]:
stationsGDF.to_file(outdir / "ACISAK_stations.gpkg", driver='GPKG')

/Users/chris/miniconda3/envs/python38_geo/lib/python3.8/site-packages/geopandas/io/file.py:299: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,